body{
    background-color: #F0DCFF;
    margin: 0;
}
nav{
    background-color: #583577;
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    padding: 0;
    padding-right: 32px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 20%;
    z-index: 10;
}
nav li.navlist{
    list-style: none;
    color: white;
}
nav li.navlist a{
    display: inline;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}
nav li.navlist a:hover{
    color: red;
}

nav img{
    padding-left: 16px;
    display: flex;
    width:60px;
    height: 60px;
}
section#portada{
    padding: 0;
    margin: 0;
    display: flex;
    height: 100vh;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
}
img.dog1{
    padding: 0;
    margin-bottom: 8rem;
    padding-left: 50px;
    width: 600px;
    height: 800px;
}
img.arrow{
    position: absolute;
    width: 500px;
    height: 500px;
    top: 350px;
    left: 300px;
}
.contenidoPortada{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    width: 500px;
}
.btn{
    background-color:#54989B;
    width:250px;
    height: 60px;
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0 5px 8px rgba(0, 0,0, 0.2);
    transition: background-color 0.3s ease;
}
.btn:hover{
    background-color: #583577;
}
/* Seccion 2 */
section#nosotros{
    height: 100vh;
    background-color: #54989B;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contenidoNosotros{
    width: 500px;
    text-align: center;
}

img.dog2{
    width: 500px;
    height: 500px;
    padding-left: 90px;
    padding-top: 40px;
}
/* boton violeta */
.btn2{
    background-color:#583577;
    width:250px;
    height: 60px;
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0 5px 8px rgba(0, 0,0, 0.2);
    transition: background-color 0.3s ease;
}
.btn2:hover{
    background-color: #261635;
}